/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-ene-2018, 15:56:01
    Author     : luis
*/

.search_clause {
    margin: 10px 0px;
}

.navbar {
    background-color: #D6F49D!important;
    
}

.navbar ul li {
    color: white!important;
}

.navbar ul li.active a {
    background-color: #9AC939!important;
    
}

#logo h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #9ac939;
    font-size: 48px;
}
#footer {
    margin-top: 25px;
    padding: 8px 4px;
    font-size: 95%;
    background-color: #230c0f;
    color: white;
}

#footer h4 {
    color: #d6f49d;
}


.section_title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-bottom: 2px solid #9ac939;
    margin: 20px 5px; 
}

.section {
    background-color: #CBA328;
    color: white;
}

.th_section {
    background-color: #88b7b5;
}

.floating_message {
	position:absolute;
	left:50px;
	top:100px;
        min-width: 90%;
        min-height: 90%;
        //background-color: rgba(244,236,214,0.7);
	color:#052f5f;
	text-align:center;
	padding:170px 8px 8px 8px!important;
	font-weight:400;
	z-index: 400;
}

#spinner {
    background-color: rgba(255,255,255,0.8);
    width: 30%;
    border:1px solid #052f5f;
    padding: 15px 8px;
}

#login_box {
    padding: 20px 5px;
    margin: 20px 5px;
}

#login_fields {
    background-color: #d6f49d;
    padding: 20px 30px;
}